.home-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    width: 1219px;
    margin: 0 auto;
    position: relative;
}

.t-shirt-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 20px auto;
    /* width: 300px; */
}

.cart-container {
    background-color: rgb(139, 169, 218);
    width: 300px;
    height: 50%;
}